  <div id="features" style="min-height:80vh" class="flex-center bg-white text-dark">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center my-5 display-5 fw-800">Above average Bootstrap template</h2>
        </div>
      </div>
      <div class="row">
        <div class="text-left col-12 col-md-6 d-flex justify-content-start align-items-start flex-column my-4">
          <h3 class="fw-800 w-100 d-flex justify-content-start align-items-center" style="font-size:1.25rem">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="18" height="18" fill="#31bc60" class="text-success me-2">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </svg>
            Tiny but powerful
          </h3>
          <p>
            <span>There are only 4 SCSS files, on top of standard Bootstrap v5 files. The code is small, therefore easy to dive in, and understand. Start to learn and use Bootstrap v5, in the easiest manner.</span>
          </p>
        </div>
        <div class="text-left col-12 col-md-6 d-flex justify-content-start align-items-start flex-column my-4">
          <h3 class="fw-800 w-100 d-flex justify-content-start align-items-center" style="font-size:1.25rem">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="18" height="18" fill="#31bc60" class="text-success me-2">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
              </path>
            </svg>
            Beautifulesque
          </h3>
          <p>
            We tried to design each page mostly with black & white colors, and tons of empty spaces. So that it looks professional but beautiful. You will enjoy to build HTML page again.
          </p>
        </div>
        <div class="text-left col-12 col-md-6 d-flex justify-content-start align-items-start flex-column my-4">
          <h3 class="fw-800 w-100 d-flex justify-content-start align-items-center" style="font-size:1.25rem">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="18" height="18" fill="#31bc60" class="text-success me-2">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </svg>
            Tailwindesque
          </h3>
          <p>
            Profit from the new Bootstrap v5 utility API, and build HTML page with utility classes. Gain confidence, time and effort for each HTML page, and learn a new way to maintain a design system.
          </p>
        </div>
        <div class="text-left col-12 col-md-6 d-flex justify-content-start align-items-start flex-column my-4">
          <h3 class="fw-800 w-100 d-flex justify-content-start align-items-center" style="font-size:1.25rem">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="18" height="18" fill="#31bc60" class="text-success me-2">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
              </path>
            </svg>
            Administrable
          </h3>
          <p>
            There is an admin dashboard available, with classic Create-Read-Update-Delete action already designed. So that you can integrate this frontend-only template to your favorite fullstack web framework.
          </p>
        </div>
        <div class="text-left col-12 col-md-6 d-flex justify-content-start align-items-start flex-column my-4">
          <h3 class="fw-800 w-100 d-flex justify-content-start align-items-center" style="font-size:1.25rem">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="18" height="18" fill="#31bc60" class="text-success me-2">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </svg>
            Learnable
          </h3>
          <p>
            The directory structure is also tiny, and easy to understand, so that we hope this template is also a good way to dive in and learn Bootstrap v5. Comments should also help.
          </p>
        </div>
        <div class="text-left col-12 col-md-6 d-flex justify-content-start align-items-start flex-column my-4">
          <h3 class="fw-800 w-100 d-flex justify-content-start align-items-center" style="font-size:1.25rem">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="18" height="18" fill="#31bc60" class="text-success me-2">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
              </path>
            </svg>
            Marketable
          </h3>
          <p>
            Profit from the enabled blog. There a page to list all blog articles, and each blog article has a carefully-studied vertical rythm and typography. You can publish your content from day 1.
          </p>
        </div>
        <div class="text-left col-12 col-md-6 d-flex justify-content-start align-items-start flex-column my-4">
          <h3 class="fw-800 w-100 d-flex justify-content-start align-items-center" style="font-size:1.25rem">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="18" height="18" fill="#31bc60" class="text-success me-2">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </svg>
            Deployable
          </h3>
          <p>
            Gulp and GitHub action are already configured for you. This mean you fork the project on GitHub, and you already have a deployed version of Bootiful publicly available.
          </p>
        </div>
        <div class="text-left col-12 col-md-6 d-flex justify-content-start align-items-start flex-column my-4">
          <h3 class="fw-800 w-100 d-flex justify-content-start align-items-center" style="font-size:1.25rem">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="18" height="18" fill="#31bc60" class="text-success me-2">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
              </path>
            </svg>
            Extensible
          </h3>
          <p>
            This template is easy to customize. It doesn't change anything to the Bootstrap's default, so upgrading Bootstrap in your project will not be problem. Create easily your own new design should not be a problem.
          </p>
        </div>
      </div>
    </div>
  </div>