<div id="hero" style="min-height:50vh" class="bg-white text-dark flex-center">
  <div class="container">
    <div class="row py-5">
      <div class="my-5 col-12 col-md-10 col-lg-9 mx-auto">
        <div class="text-center mb-5">
          <h1 class="mb-4 mx-auto display-1 fw-bold">
            <span class="d-block">Bootstrap 5</span>
            <span class="highlight-hero">made simple</span>
          </h1>
          <p class="mx-auto lead text-lg-nice">
            <span class="d-block">
              Open-source, clean, modern Bootstrapv5 template and starter kit.
            </span>
            <span class="d-block">
              Deploy beautiful marketing pages with Bootstrap and Middleman.
            </span>
          </p>
        </div>
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center w-100">
          <a class="btn btn-lg btn-dark text-white flex-center mx-auto mx-lg-2 mb-2 w-100"
              href="https://github.com/malachaifrazier/bootiful-middleman"
              style="max-width:280px"
              target="_blank">
            Start on Github
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="28" height="28" fill="currentColor" class="ml-1">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
            </svg>
          </a>
          <a class="btn btn-lg flex-center mx-auto mx-lg-2 mb-2 w-100"
            href="/demo" rel="noopener" style="max-width:280px" target="_blank">
            Take a tour
          </a>
        </div>
      </div>
    </div>
  </div>
</div>