<div id="testimonials" style="min-height:60vh" class="flex-center">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-12 my-5 flex-center text-center flex-column">
        <h2 class="display-5 fw-800">Some testimonials</h2>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex mb-4">
        <div class="card p-4 justify-content-between align-items-start shadow">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur at aspernatur dignissimos, culpa beatae, laboriosam rem! Saepe voluptate possimus recusandae totam at</p>
          <p class="m-0">
            <a href="#" rel="noopener" class="text-dark fw-bold">One Person</a>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex mb-4">
        <div class="card p-4 justify-content-between align-items-start shadow">
          <p>Lorem ipsum, dolor sit amet consectetur, adipisicing elit. Impedit ea maiores numquam dolor, odio rem architecto quo quae, dolore nostrum fuga sit</p>
          <p class="m-0">
            <a href="#" rel="noopener" class="text-dark fw-bold">Another person</a>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex mb-4">
        <div class="card p-4 justify-content-between align-items-start shadow">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident vel reprehenderit dolores fugiat officia. Temporibus accusamus eos expedita dolore architecto at rerum voluptas distinctio tenetur, animi.</p>
          <p class="m-0">
            <a href="#" rel="noopener" class="text-dark fw-bold">A great agency</a>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex mb-4">
        <div class="card p-4 justify-content-between align-items-start shadow">
          <p>Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Magnam, architecto harum quo? Consequatur, aliquid. Numquam exercitationem dicta omnis voluptates, quo alias assumenda minima a sed blanditiis, dolore error, unde, officia.</p>
          <p class="m-0">
            <a href="#" rel="noopener" class="text-dark fw-bold">OneBootcamp</a>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex mb-4">
        <div class="card p-4 justify-content-between align-items-start shadow">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore praesentium quisquam perferendis, reiciendis consequatur vitae voluptatem, nihil modi, nulla dolorem iusto.</p>
          <p class="m-0">
            <a href="#" rel="noopener" class="text-dark fw-bold">Christian Abc</a>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex mb-4">
        <div class="card p-4 justify-content-between align-items-start shadow">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat sequi voluptate voluptates. Saepe, accusamus officia impedit est, suscipit optio laborum debitis voluptate maiores omnis, quidem repellat provident maxime deser.</p>
          <p class="m-0">
            <span class="text-dark fw-bold">Kevin Xyz</span>
          </p>
        </div>
      </div>
      <div class="col-12 flex-center">
        <a href="/testimonials" class="fw-bold">Read more testimonials<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="22" height="22" fill="currentColor">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
            </path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>