<div id="why" style="min-height:60vh" class="flex-center flex-column pt-3 pb-5">
  <div style="min-height:40vh" class="flex-center flex-column py-5">
    <div class="container py-3">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-5 d-flex flex-column mb-3 order-md-2">
          <h2 class="mb-4 display-5">
            <span class="d-block fw-800">All classics,</span>
            <span class="d-block fw-800">already designed</span>
          </h2>
          <div>
            <span>
              <p>Landing page, pricing, <strong>blogging</strong>, authentication, privacy pages, testimonials, and many more, are already designed. Focus on content first. And cut off weeks of design efforts.</p>
            </span>
          </div>
          <a class="d-flex flex-row justify-content-start align-items-center" href="">Go here to view<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="22" height="22" fill="currentColor">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
              </path>
            </svg>
          </a>
        </div>
        <div class="col-12 col-md-7 d-flex flex-column">
          <img width="80%" height="auto" src="https://res.cloudinary.com/bdavidxyz-com/image/upload/v1637305459/bootstrap/Pages2.png" loading="lazy">
        </div>
      </div>
    </div>
  </div>
  <div style="min-height:40vh" class="flex-center flex-column py-5">
    <div class="container py-3">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-5 d-flex flex-column mb-3 ">
          <h2 class="mb-4 display-5 fw-800">Admin CRUD</h2>
          <div>
            <span>
              <p>Create, Read, Update and Delete any resource. KPI are not the only drawns. The design of the admin dashboard is ready to be integrated into any full-stack web framework.</p>
              <a class="d-flex flex-row justify-content-start align-items-center" href="/admin/users/new">View example<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="22" height="22" fill="currentColor">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                </path>
              </svg>
          </a>
            </span>
          </div>
        </div>
        <div class="col-12 col-md-7 d-flex flex-column">
          <div class="text-lg-end">
            <img width="80%" height="auto" src="https://res.cloudinary.com/bdavidxyz-com/image/upload/v1637503750/bootstrap/admin_crudZ3.png" loading="lazy">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="min-height:40vh" class="flex-center flex-column py-5">
    <div class="container py-3">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-5 d-flex flex-column mb-3 order-md-2">
          <h2 class="mb-4 display-5">
            <span class="d-block fw-800">UI yes,</span>
            <span class="d-block fw-800">but also UX</span>
          </h2>
          <div>
            <p>Contrary to most Bootstrap templates, Bootiful tries to show how Toast and form validation are handled with Bootstrap, dynamically.</p>
          </div>
          <a class="d-flex flex-row justify-content-start align-items-center" href="/login">View authentication example<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="22" height="22" fill="currentColor">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
              </path>
            </svg>
          </a>
        </div>
        <div class="col-12 col-md-7 d-flex flex-column">
          <img width="80%" height="auto" src="https://res.cloudinary.com/bdavidxyz-com/image/upload/v1637490104/bootstrap/UXZ.png" loading="lazy">
        </div>
      </div>
    </div>
  </div>
  <div style="min-height:40vh" class="flex-center flex-column py-5">
    <div class="container py-3">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-5 d-flex flex-column mb-3 ">
          <h2 class="mb-4 display-5">
            <span class="d-block fw-800">Build and deploy</span>
            <span class="d-block fw-800">Automagically</span>
          </h2>
          <div>
            <span>
              <p>Gulp and GitHub Action are already configured. You get a ready-to-go website just in 2 minutes, literally.</p>
            </span>
          </div>
          <a class="d-flex flex-row justify-content-start align-items-center" href="">View GitHub repository<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="22" height="22" fill="currentColor">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
              </path>
            </svg>
          </a>
        </div>
        <div class="col-12 col-md-7 d-flex flex-column">
          <div class="text-lg-end">
            <img class="rounded-5" width="90%" height="auto" src="https://res.cloudinary.com/bdavidxyz-com/image/upload/v1637245101/bootstrap/githubactions.png" loading="lazy" style="filter: drop-shadow(0px 0px 15px #6c757d)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>